* {
    font-family: Roboto;
}

body {
    background-color: rgb(56, 35, 65);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.page-title {
    color: white;
    margin-bottom: 70px;
}

.hand-selection-container {
    display: flex;
    gap: 50px;
    padding: 0px 100px 0px 100px;
    margin-bottom: 100px;
}

.hand-button {
    font-size: 170px;
    background-color: transparent;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 200px;
    width: 300px;
    height: 300px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    transform: rotate(-60deg);
    justify-content: center;
}

.hand-button:hover,
.reset-button:hover,
.auto-play-button:hover {
    background-color: rgba(255, 255, 255, 0.116);
}

.hand-button:active,
.reset-button:active,
.auto-play-button:active {
    background-color: rgba(255, 255, 255, 0.247);
}

.current-round-hand-container {
    /* border: 1px solid red; */
    color: white;
    font-size: 40px;
    display: flex;
    gap: 50px;    
    margin-left: 40px;
}

.current-round-human-hand-container,
.current-round-computer-hand-container {
    /* border: 1px solid red; */
    display: flex;
    font-weight: bold;
    align-items: center;
    gap: 30px;
}

.comp-hand-round-icon{
    font-size: 100px;
    display: inline-block;
    transform: rotate(-60deg);
}

.human-hand-round-icon{
    font-size: 100px;
    display: inline-block;
    transform: scaleX(-1) rotate(-60deg);
}

.score-container {
    /* border: 1px solid red; */
    color: white;
    font-size: 30px;
    bottom: 50px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.reset-button,
.auto-play-button {
    font-size: 30px;
    font-weight: bolder;
    border: 1px solid white;
    color: white;
    background-color: transparent;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
    width: 300px;
}

.game-menu-button-container {
    /* border: 1px solid red; */
    display: flex;
    gap: 30px;
}

.results-and-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 90px;
}